{% extends 'dashboard2.html' %}
{% block content %}

{% load staticfiles %}
<div class="row p-5">
<div class="col-7 text-justify">
<img src={%static "images/a5.jpg" %} style="width:450px; height:250px;">
<h2 class="text-info text-center"><b> <br>Asthma Overview</b></h2>
<p class="text-dark text-justify">Asthma is a long-term disease of the lungs. You might hear your doctor 
call it a chronic respiratory disease. It causes your airways to get inflamed and narrow and makes 
breathing difficult. Severe asthma can make it hard to talk or be active. Some people refer to asthma as "bronchial asthma."
Asthma is a serious -- even dangerous -- disease that affects about 25 million Americans and causes nearly 2 million emergency room visits every year. With proper treatment, you can live well. Without it, you might have to make frequent visits to the emergency room and even stay at the hospital, which can affect your home life and ability to work.
</p>
<h2 class="text-info text-center"><b> <br>What is Asthma Attack?</b></h2>
<p class="text-dark text-justify">An asthma attack is a sudden worsening of asthma symptoms caused by the tightening of muscles around your airways (bronchospasm). During the asthma attack, the lining of the airways also becomes swollen or inflamed and thicker mucus more than normal is produced. All of these factors bronchospasm, inflammation, and mucus production cause symptoms of an asthma attack such as difficulty breathing, wheezing, coughing, shortness of breath, and difficulty performing normal daily activities.
</p>
<br><img src={%static "images/a6.jpg" %} style="width:450px; height:250px;">
<h2 class="text-info text-center"><b><br>Types of Asthma</b></h2>
<p class="text-dark text-justify">Do you know the different types of asthma? Advances in our understanding of asthma have helped experts define specific types of asthma, such as exercise-induced asthma (asthma that occurs with physical exertion) and nighttime asthma (asthma that makes sleeping miserable and is quite serious). Understanding the type of asthma you have can help you seek the most effective treatment when you have an asthma attack.:<br>

<ul type="disc">
<li>
<b>Allergies and Asthma:</b><br>
Allergies and asthma often go hand-in-hand. Allergic rhinitis (also called hay fever) is inflammation of the inside lining of the nose and is the single most common chronic allergic disease. In those with allergic rhinitis, increased sensitivity (allergy) to a substance causes your body’s immune cells to release histamines in response to contact with the allergens. Histamines, along with other chemicals, lead to allergy symptoms. The most common allergens enter the body through the airway.</li>
<li><b>Exercise-Induced Asthma:</b><br>
Exercise-induced asthma is a type of asthma triggered by exercise or physical exertion. Many people with asthma experience some degree of symptoms with exercise. However, there are many people without asthma, including Olympic athletes, who develop symptoms only during exercise.
With exercise-induced asthma, airway narrowing peaks five to 20 minutes after exercise begins, making it difficult to catch your breath. The symptoms begin within few minutes of exercise and peak or worsen a few minutes after stopping exercise.</li>
<li><b>Cough-Variant Asthma:</b><br>
In the type of asthma called cough-variant asthma, severe coughing is the predominant symptom. There can be other causes of cough such as postnasal drip, chronic rhinitis, sinusitis, or gastroesophageal reflux disease (GERD or heartburn). Coughing because of sinusitis with asthma is common.</li>
<li><b>Occupational Asthma:</b><br>
Occupational asthma is a type of asthma that results from workplace triggers. With this type of asthma, you might have difficulty breathing and asthma symptoms just on the days you're on the job.

Many people with this type of asthma suffer with runny nose and congestion or eye irritation or have a cough instead of the typical asthma wheezing.</li>
<li><b>Nighttime (Nocturnal) Asthma:</b><br>
Nighttime asthma, also called nocturnal asthma, is a common type of the disease. If you have asthma, the chances of having symptoms are much higher during sleep because asthma is powerfully influenced by the sleep-wake cycle (circadian rhythms). Your asthma symptoms of wheezing, cough, and trouble breathing are common and dangerous, particularly at nighttime.</li>
</ul></p>

<br><img src={%static "images/a7.jpg" %} style="width:450px; height:250px;">
<h2 class="text-info text-center"><b> <br>Symptoms Of Asthma</b></h2>
<p class="text-dark text-justify">Asthma is characterized by inflammation of the bronchial tubes with increased production of sticky secretions inside the tubes. People with asthma experience symptoms when the airways tighten, inflame, or fill with mucus. Common asthma symptoms include:
<ul type="disc">
    <li>Coughing, especially at night.</li>
<li>Wheezing.</li>
<li>Shortness of breath.</li>
<li>Chest tightness, pain, or pressure.</li>
    </ul>
Still, not every person with asthma has the same symptoms in the same way. You may not have all of these symptoms, or you may have different symptoms at different times. Your asthma symptoms may also vary from one asthma attack to the next, being mild during one and severe during another.

Some people with asthma may go for extended periods without having any symptoms, interrupted by periodic worsening of their symptoms called asthma attacks. Others might have asthma symptoms every day. In addition, some people may only have asthma during exercise, or asthma with viral infections like colds.

Mild asthma attacks are generally more common. Usually, the airways open up within a few minutes to a few hours. Severe attacks are less common but last longer and require immediate medical help. It is important to recognize and treat even mild asthma symptoms to help you prevent severe episodes and keep asthma under better control.</p>
</div>
<div class="col-5">
    <h3 class="text-info"><b> Recommended For You</b></h3>
    <br><div class="row">
    <div class="col-3">
    <img src={%static "images/a1.jpg" %} style="width:80px;height:80px"></div>
    <div class="col-9"><a class="text-info" href="https://education.webmd.com/viewarticle/916609#content=0_0" target="_blank"><b>Asthma Facts You Need To Know</b></a> <br></div></div>
    <br><div class="row">
    <div class="col-3">
    <img src={%static "images/a2.jpg" %} style="width:80px;height:80px"></div>
    <div class="col-9"><a class="text-info" href="https://www.webmd.com/asthma/guide/asthma-mimcs#1" target="_blank"><b>Health Conditions That Mimics Asthma </b></a> <br></div></div>
    <br><div class="row">
    <div class="col-3">
    <img src={%static "images/a3.jpg" %} style="width:80px;height:80px"></div>
    <div class="col-9"><a class="text-info" href="https://www.webmd.com/asthma/ss/slideshow-asthma-attack" target="_blank"><b>About To Have An Asthma Attack?</b></a> <br></div></div>
    <br><div class="row">
    <div class="col-3">
    <img src={%static "images/a4.jpg" %} style="width:80px;height:80px"></div>
    <div class="col-9"><a class="text-info" href="https://www.webmd.com/asthma/allergies-asthma-18/adult/slideshow-sneaky-asthma-triggers" target="_blank"><b>Sneaky Allergic Asthma Triggers</b></a> <br></div></div>
    </div>
    </div>
{% endblock %}