{% extends 'dashboard1.html' %}
{% block content %}

{% load staticfiles %}
<div class="row text-justify">
    <div class="col-12">
<h4 class="text-info"><b>There are high chances for you to have breast cancer, but to be very sure we recommend the following
tests and procedures used to diagnose breast cancer:</b></h4>
<p ><ol type="1">
<li>
<b>Breast exam:</b><br> Your doctor will check both of your breasts and lymph nodes in your armpit, feeling for any lumps or other abnormalities.
</li>
<li><b>Mammogram:</b><br> A mammogram is an X-ray of the breast. Mammograms are commonly used to screen for breast cancer. If an abnormality is detected on a screening mammogram, your doctor may recommend a diagnostic mammogram to further evaluate that abnormality.
</li>
<li><b>Breast ultrasound:</b><br> Ultrasound uses sound waves to produce images of structures deep within the body. Ultrasound may be used to determine whether a new breast lump is a solid mass or a fluid-filled cyst.
</li>
<li>
<b>Removing a sample of breast cells for testing (biopsy):</b><br> A biopsy is the only definitive way to make a diagnosis of breast cancer. During a biopsy, your doctor uses a specialized needle device guided by X-ray or another imaging test to extract a core of tissue from the suspicious area. Often, a small metal marker is left at the site within your breast so the area can be easily identified on future imaging tests.
Biopsy samples are sent to a laboratory for analysis where experts determine whether the cells are cancerous. A biopsy sample is also analyzed to determine the type of cells involved in the breast cancer, the aggressiveness (grade) of the cancer, and whether the cancer cells have hormone receptors or other receptors that may influence your treatment options.
</li>
<li><b>Breast magnetic resonance imaging (MRI):</b><br> An MRI machine uses a magnet and radio waves to create pictures of the interior of your breast. Before a breast MRI, you receive an injection of dye. Unlike other types of imaging tests, an MRI doesn't use radiation to create the images.
Other tests and procedures may be used depending on your situation.
</li></ol></p>
<h4 class="text-info">
<b>Staging breast cancer</b></h4>
<p class="text-dark">
Once your doctor has diagnosed your breast cancer, he or she works to establish the extent (stage) of your cancer. Your cancer's stage helps determine your prognosis and the best treatment options.
Complete information about your cancer's stage may not be available until after you undergo breast cancer surgery.
Tests and procedures used to stage breast cancer may include:
<ol type="1">
<li>Blood tests, such as a complete blood count.</li>
<li>Mammogram of the other breast to look for signs of cancer.</li>
<li>Breast MRI.</li>
<li>Bone scan.</li>
<li>Computerized tomography (CT) scan.</li>
<li>Positron emission tomography (PET) scan.</li></ol>
Not all women will need all of these tests and procedures. Your doctor selects the appropriate tests based on your specific circumstances and taking into account new symptoms you may be experiencing.
Breast cancer stages range from 0 to IV with 0 indicating cancer that is noninvasive or contained within the milk ducts. Stage IV breast cancer, also called metastatic breast cancer, indicates cancer that has spread to other areas of the body.</p>
</div>
</div>
{% endblock %}