{% extends 'dashboard1.html' %}
{% block content %}
<div class="row pt-3">
<div class="col-12">
<h2 class="text-center text-info"><b> Diabetes Dataset Description</b></h2>
<h3 class="text-info"> <br>Citation</h3>
<p class="text-dark text-justify">This dataset is originally from the National Institute of Diabetes and Digestive and Kidney Diseases. The objective of the dataset is to diagnostically predict whether or not a patient has diabetes, based on certain diagnostic measurements included in the dataset. Several constraints were placed on the selection of these instances from a larger database. In particular, all patients here are females at least 21 years old of Pima Indian heritage.
</p>
<h3 class="text-info">Attribute Information</h3>
<ol type="1">
<li>Pregnancies</li>
<li>Glucose: measured in mmol/L(millimoles per litre)</li>
<li>Blood Pressure: measured in mmHg(millimeters of mercury)</li>
<li>Skin Thickness: measured in mm(millimeters)</li>
<li>Insulin: measured in Units(where 100 units = 1 mL)</li>
<li>BMI: Body Mass Index is measured in kg/m^2(kilograms per meter squared)</li>
<li>Diabetes Pedigree Function:</li>
<li>Age: measured in years</li>
<li>Outcome:<br> 0: not diabetic<br>1:diabetic</li>
</ol>
</div>
</div>
{% endblock %}