{% extends 'hf.html' %}
{% block content %}

{% load staticfiles %}
<div class="container-fluid">
<div class="container">
        <form method="POST" action="{% url 'fp' %}">
                {% csrf_token %}
                <h1 class="text-info text-center">Kindly Enter Your Email Below</h1><br><br>
        
Email<br>
<input type="text" class="form-control"  required=required name="email" ><br>
<button class="btn btn-info " class="form-control">Get Password</button><br><br><br><br><br>
</form>
</div></div>


{% endblock %}